/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --primary-color: rgb(240, 237, 237);
  --secondary-color: rgb(217, 207, 207);
  --primary-font: "Autour One";
  --secondary-font: "B612";
  --border-color: gray;
  --border-radius: 5px;
  --button-color: grey;
  --navbar__icon-color: rgb(112, 104, 104);
  --navbar__icon-color--hover: rgb(1, 10, 23);
  --navbar__button-light: rgb(203, 172, 172);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-color);
}
/* autour-one-regular - latin */
@font-face {
  font-family: "Autour One";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/autour-one-v24-latin/autour-one-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/autour-one-v24-latin/autour-one-v24-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./assets/fonts/autour-one-v24-latin/autour-one-v24-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/autour-one-v24-latin/autour-one-v24-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/autour-one-v24-latin/autour-one-v24-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/autour-one-v24-latin/autour-one-v24-latin-regular.svg#AutourOne")
      format("svg"); /* Legacy iOS */
}

/* b612-regular - latin */
@font-face {
  font-family: "B612";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/b612-v12-latin/b612-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/fonts/b612-v12-latin/b612-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./assets/fonts/b612-v12-latin/b612-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/b612-v12-latin/b612-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./assets/fonts/b612-v12-latin/b612-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/b612-v12-latin/b612-v12-latin-regular.svg#B612")
      format("svg"); /* Legacy iOS */
}
